body {
    font-family: Comic Sans MS, Helvetica, sans-serif;
    margin: auto;
}

img {
    height: 9rem;
    width: auto;
    text-align: center;
    border: 1px solid violet;
    border-radius: 10px;
}

table {  
    width: 75%;  
    background-color: #ccc1d4;
    margin: 0% auto;
}

text {
    text-align: center;
}

a {
    font-size: 130%;
}

th, td {
    text-align: center;
    background-color: #ccc1d4;
    border: 1px double;
}

.titulo {
    background-color: #ffffff;
}

.imagenHombres{
    width: 400px;
    height: 300px;
    margin-top: 2%;
}

.imagenMujeres{
    width: 300px;
    height: 400px;
}

.textoInfo {
    text-align: center;
}
